name: cs160-project
services:
    frontend:
        build:
            context: ../
            dockerfile: docker/frontend/Dockerfile
        ports:
            - 3000:3000
    backend:
        build:
            context: ../
            dockerfile: docker/backend/Dockerfile
        ports:
            - 8080:8080
        volumes:
            - db_data:/app/db

volumes:
    db_data: